#contact {
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -15rem;
  margin-bottom: -1px;
  color: $white-color;
  position: relative;

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  &:before {
    content: '';
    // background-color: #ffa85d;
    // background-image: linear-gradient(135deg, #ffa85d 0%, #7f2fff 100%);
    //     width: 100%;
    background-color: #17003c;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:after {
    content: '';
    background: url(/about-bck.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.2;
        width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .container {
    color: #fff;
    position: relative;
    z-index: 2;
  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: 2.4rem;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
